* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg, #dddd85, #e282e2 48%, #91c0e7);
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  width: 300px;
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  width: 300px;
  border: none;
  background-color: lightblue;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.link-btn {
  background: none;
  color: black;
  text-decoration: underline;
}
